@use "../../node_modules/bootstrap/scss/bootstrap.scss" with (
    $primary: #495B73,
    $secondary: #586F8C,
    $body-bg: #F2F2F2,
    $body-color: #262625,

    $grid-breakpoints: (
        xs: 0,
        sm: 500px,
        md: 700px,
        lg: 1000px,
        xl: 1200px,
        xxl: 1400px,
    ),

    $container-max-widths: (
        sm: 470px,
        md: 660px,
        lg: 940px,
        xl: 1140px,
        xxl: 1320px,
    ),

    $border-radius: 0.4rem,
    $border-radius-sm: 0.5rem,
    $border-radius-lg: 0.7rem,
    $border-radius-xl: 1rem,
    $border-radius-2xl: 2rem,
    $border-radius-pill: 50rem,

    $display-font-sizes: (
        1: 2rem,
        2: 1.5rem,
        3: 1.25rem,
        4: 1rem,
        5: 0.5rem,
        6: 0.25rem,
    ),
    $font-family-base: "Roboto");