#hamburger, #ch-menu {
  display: none;
}

body {
  --inaltime-meniu:55px;
  --latime-buton:150px;
  --culoare-meniu:var(--culoare-deschisa);
  --culoare-border-buton:black;
}

nav {
  --text-meniu:black;
  background-color: var(--culoare-meniu);
  width: calc(100vw - 18px);
  height: var(--inaltime-meniu);
  position: sticky;
  top: 0;
  margin-left: calc(-1 * var(--spatiere-pagina));
}

ul.meniu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  > li {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: var(--latime-buton);
  }

  li {
    width: var(--latime-buton);
    height: var(--inaltime-meniu);
    background-color: var(--culoare-meniu);
    overflow: hidden;
    text-align: center;
    border: 1px solid var(--culoare-border-buton);
    transition: background-color 0.3s linear;
    box-sizing: border-box;
    text-shadow: 0px calc(-0.5*var(--inaltime-meniu)) 3px rgba(0, 0, 0, 0);

    &:hover {
      overflow: visible;
      list-style-type: none;
      background-color: var(--culoare-inchisa);
    }

    ul li {
      text-decoration: underline solid transparent;
      transition: text-decoration 0.3s ease;

      &:hover {
        text-decoration: underline solid var(--culoare-text);
      }
    }
  }

  > li:hover {
    text-shadow: 0px 0px 3px var(--culoare-text);
    transition: text-shadow 0.3s linear;
  }

  ul {
    opacity: 0;
    transition: all 0.3s linear;
    transform: scale(1, 0);
    transform-origin: center top;
  }

  li:hover ul {
    opacity: 1;
    transform: scale(1, 1);
  }

  margin: 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    div, a {
      display: block;
      width: 100%;
      height: 100%;
      color: var(--text-meniu);
      text-decoration: none;
      font-weight: bold;
      line-height: var(--inaltime-meniu);
    }
  }
}

#acasa-mediu {
  display: none;
}
