<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Component Connection - Magazin componente PC</title>
        <meta name="keywords"
            content="pc, desktop, calculator, calculator desktop, componente, calculator gaming, pc gaming">
        <!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Magazinul tau componente PC. Preturi. Reduceri">
        <!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        <%- include('../fragmente/head.ejs') %>
    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="main">
            <div id="contact">
                <h2>Contact</h2>
                <p>Adresa: Strada X, nr. Y, Oras, Judet, Romania</p>
                <p>Telefon: 0123456789</p>
                <p>Email:
        </div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>