#hamburger, #ch-menu{
    display:none;
}

body{
    --inaltime-meniu:55px;
    --latime-buton:150px;
    --culoare-meniu:var(--culoare-fundal-inchis);
    --culoare-border-buton:black;
    
}

nav{
    --text-meniu:black;
    background-color: var(--culoare-meniu) ;
    /*width:100%;*/
    width:calc(100vw - 18px);
    height:var(--inaltime-meniu);
    position:sticky;
    top:0;
    margin-left: calc(-1 * var(--spatiere-pagina));
}

ul.meniu, ul.meniu ul{
    padding: 0;
    margin:0;
    list-style-type: none;
}


ul.meniu{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    > li{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: var(--latime-buton);
    }

    li{
        width:var(--latime-buton);
        height:var(--inaltime-meniu);
        background-color: var(--culoare-meniu);
        overflow: hidden;
        text-align: center;
        border:1px solid var(--culoare-border-buton);
        transition:background-color 0.8s linear;
        box-sizing: border-box;

        &:hover{
            overflow: visible;
            background-color: pink; /* de setat cu variabila */
        }
    }
}




ul.meniu ul{
    opacity:0;
    transition:all 0.8s linear;
    transform: scale(0,0);
    transform-origin: center top;
}

ul.meniu li:hover ul{
    opacity:1;
    
    transform: scale(1,1);

}

ul.meniu li div, ul.meniu li a{
    display: block;
    width:100%;
    height:100%;
    color:var(--text-meniu);
    text-decoration: none;
    font-weight: bold;
    line-height:var(--inaltime-meniu);
}

/*
ul.meniu>li:nth-child(even){
    background-color: skyblue;
}
ul.meniu>li:nth-child(odd){
    background-color: red;
}*/

#acasa-mediu{
    display: none;
}