html{
    font-size: 16px;
}

body{
    --spatiere-pagina: 20px;
    --padding-sectiune: 10px;
}

#grid-pagina{
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "z-banner z-banner"
        "z-banner z-banner"
        "z-dateutilizator z-dateutilizator"
        "z-online z-dateserver"
        "z-calendar z-tabel"
        "z-anunturi z-tabel"
        "z-other z-other";
}
