body {
    /*
    albastru este culoarea principala, culoare rece asociata chestiilor electronice, tehnologie, internet, etc.
    culorile de fundal sunt mai monotone, pentru a nu aglomera site-ul
    */
    --culoare-inchisa: #4F4A80;
    --culoare-deschisa: #586F8C;
    --culoare-main: #495B73;
    --culoare-fundal: #F2F2F2;
    --culoare-fundal-inchis: #262625;

    --culoare-highlight: #9DC6FA;
    --culoare-highlight2: #8494E3;
    --culoare-text: black;
    --culoare-gri: #BDBDBD;
    --spatiere-pagina: 30px;
    --padding-sectiune: 15px;


    --latime-buton: 100px;
    --inaltime-buton: 50px;
    --blur-buton: 12px;
    --border-radius: 10px;

}

body {
    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
    padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina);
    min-width: 450px;
    font-family: 'Roboto', sans-serif;
}

body p {
    transition: font-size 1s;
}

h2~p {
    font-size: 30px;
}

html {
    font-size: 18px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin-bottom: 0.5em;
}




#grid-pagina {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "z-banner z-banner z-banner z-banner"
        "z-banner z-banner z-banner z-banner"
        "z-online z-dateutilizator z-dateutilizator z-dateserver"
        "z-calendar z-calendar z-tabel z-tabel"
        "z-anunturi z-anunturi z-tabel z-tabel"
        "z-other z-other z-other z-other";
    gap: 20px 10px;
}

#banner {
    grid-area: z-banner;
}

#online {
    grid-area: z-online;
}

#dateutilizator {
    grid-area: z-dateutilizator;
}

#dateserver {
    grid-area: z-dateserver;
}

#calendar {
    grid-area: z-calendar;
}

#tabel {
    grid-area: z-tabel;
}

#anunturi {
    grid-area: z-anunturi;
}

#other {
    grid-area: z-other;
}

img {
    max-width: 100%;
    max-height: 500px;
    max-width: 600px;
    min-width: 200px;
}

main,
header,
footer,
nav {
    margin-top: 25px;
}

#grid-pagina>*,
header,
footer {
    padding: var(--padding-sectiune);
    border: 2px solid var(--culoare-main);
    border-radius: var(--border-radius);
    box-shadow: 0px 5px 20px 0px var(--culoare-fundal-inchis);
}

footer {
    margin-bottom: 25px;
    ;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--culoare-deschisa);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--culoare-inchisa);
}

caption {
    caption-side: bottom;
}

td:empty {
    display: none;

}

td:nth-child(even),
th:nth-child(even) {
    background-color: var(--culoare-main);
}

td:nth-child(odd),
th:nth-child(odd) {
    background-color: var(--culoare-deschisa);
}

td {
    transition: background-color 0.5s;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: fit-content;
}

.tabel-container {
    width: 100%;
    border-radius: var(--border-radius);
    overflow-x: auto;
}

caption {
    background-color: var(--culoare-main);
    color: var(--culoare-fundal);
    font-weight: bold;
}

tr:hover td {
    background-color: var(--culoare-highlight);
}

tr td:hover {
    background-color: var(--culoare-highlight2);
}

td,
th,
caption {
    padding: 5px;

}

iframe {
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    border: 5px solid var(--culoare-deschisa);
    display: block;
}

.link-iframe {
    width: var(--latime-buton);
    height: var(--inaltime-buton);
    background: var(--culoare-deschisa);
    text-align: center;
    font-size: 0.7rem;
    text-decoration: none;
    color: var(--culoare-highlight);
    transition: background-color 0.3s linear;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: var(--blur-buton);

    border-radius: var(--border-radius) 0 0 var(--border-radius);
    margin-bottom: 3px;
    border: 2px solid var(--culoare-highlight);
    border-right: 0;

    box-shadow: inset var(--blur-buton) 0px 12px -2px var(--culoare-highlight);

}

.link-iframe:hover {
    background: var(--culoare-highlight);
    color: var(--culoare-main);
}

.iframe-container {
    display: flex;
}

.taburi-iframe {
    display: flex;
    flex-direction: column;

}

.link-top {
    display: block;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    opacity: 0.4;
    width: 3rem;
    box-sizing: border-box;
    height: 3rem;
    line-height: 2.6rem;
    text-align: center;
    border: 2px solid var(--culoare-fundal-inchis);
    border-radius: 50%;
    background: var(--culoare-inchisa);
    color: var(--culoare-fundal-inchis);
    font-size: 2rem;
    transition: opacity 0.3s;
    box-shadow: 0 0 0.5rem var(--culoare-fundal-inchis);
}

.link-top:hover {
    opacity: 1;
}

.watermark {
    display: none;
}

<<<<<<< HEAD
main a {
=======
main a{
>>>>>>> 9225d38db209dbfc5c7012658ad60cea54eaef18
    background-position: center;
    background-size: 0;
    background-repeat: no-repeat;
}

<<<<<<< HEAD
main a:hover {
=======
main a:hover{
>>>>>>> 9225d38db209dbfc5c7012658ad60cea54eaef18
    background-size: 100%;
    color: var(--culoare-fundal-inchis);
    background-image: radial-gradient(var(--culoare-highlight) 40%, transparent 80%, transparent 100%);
    transition: all 1s linear;
}

<<<<<<< HEAD
main a:visited {
    color: var(--culoare-highlight2);
}

main a:active {
    border: 2px solid var(--culoare-fundal-inchis);
}

main a[href^="http"]::before {
=======
main a:visited{
    color: var(--culoare-highlight2);
}

main a:active{
    border: 2px solid var(--culoare-fundal-inchis);
}

main a[href^="http"]::before{
>>>>>>> 9225d38db209dbfc5c7012658ad60cea54eaef18
    content: "⮳";
    font-size: 1.5rem;
}

<<<<<<< HEAD
main a[href^="http"]:hover::before {
    color: var(--culoare-highlight);
}

.videolocal {
    margin-top: 25px;
}

video {
=======
main a[href^="http"]:hover::before{
    color: var(--culoare-highlight);
}

.videolocal{
    margin-top:25px;
}

video{
>>>>>>> 9225d38db209dbfc5c7012658ad60cea54eaef18
    width: 100%;
    min-width: 400px;
    max-width: 1000px;
}

<<<<<<< HEAD
video::cue {
=======
video::cue{
>>>>>>> 9225d38db209dbfc5c7012658ad60cea54eaef18
    color: transparent;
    background: linear-gradient(to right, var(--culoare-fundal), var(--culoare-gri));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

}

<<<<<<< HEAD
#text-reflectat{
	position:absolute;
	left:0;
	top:100%;
	transform-origin:0 0;
	transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px,-25px); 
	opacity:0.55;
    mask-image: repeating-radial-gradient(circle at bottom, white, white 6px, transparent 1px, transparent 10px);
    animation: move 6s linear infinite alternate; 
    animation-play-state: paused;
    mask-size: 100% 200%;
}

#text-reflectat:hover{
    
    animation-play-state: running;
}

@keyframes move{
    0%{
        mask-size: 100% 200%;
    }
    100%{
        mask-size: 100% 100%;
    }
}

#text{	
	position:relative;
}

#text, #text-reflectat{
	font-size:50px;
	line-height:50px;
	font-weight: bold;
}

hr {
    opacity:1;
    border: none;
    height: 10px;
    background-image: repeating-linear-gradient(to right, var(--culoare-highlight), var(--culoare-highlight) 10%, var(--culoare-fundal) 10%, var(--culoare-fundal) 15%),
    repeating-linear-gradient(to right, var(--culoare-highlight2), var(--culoare-highlight2) 10%, var(--culoare-fundal) 10%, var(--culoare-fundal) 15%),
    repeating-linear-gradient(to right, var(--culoare-inchisa), var(--culoare-inchisa) 10%, var(--culoare-fundal) 10%, var(--culoare-fundal) 15%);
  background-repeat: no-repeat;
  background-size: 100% 33.33%, 100% 33.33%, 100% 33.33%;
  background-position: 0 0, 15px 33.33%, 0 66.66%;
  }
  
  
=======
>>>>>>> 9225d38db209dbfc5c7012658ad60cea54eaef18
