h2{
    padding:0.4rem;
}
#art-produs{
    margin:0 auto;
    width:70%;
    max-width:700px;
    background-color: var(--culoare-gri);
    padding:0.4rem;
}

#art-produs p{
    margin:0;
    padding:0.4rem;
    font-weight:bold;
    font-size:1.1rem;
}

#art-produs p span{
    font-weight: normal;
}

.imag-produs{
    text-align: center;
}
.imag-produs img{
    width:50%;
    height:auto;
}
@media screen and (max-width: 700px){
    #art-produs{
        margin:0 auto;
        width:95%;
    }
}