main{
    --padd-main:1rem;
    padding-left:var(--padd-main);
    padding-right:var(--padd-main);
}

.grid-produse{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:1rem;
}
.grid-produse .produs{
    overflow: hidden;
    padding: 10px;
    border: 2px solid var(--culoare-gri);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    

}

figure.prod-img { grid-area: 1 / 1 / 4 / 2; } 
 h3.nume { grid-area: 1 / 2 / 2 / 3; }
p.brand { grid-area: 2 / 2 / 3 / 3; }
table.info-prod { grid-area: 3 / 2 / 4 / 3; } 
label.selecteaza-cos { grid-area: 3 / 1 / 4 / 2; }

.grid-produse .produs h3{
    background-color: var(--culoare-gri);
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid-produse .produs h3 a{
    color:black;
}
.grid-produse .produs figure{
    text-align: center;
}
.grid-produse .produs figure img{
    border:1px solid grey
}
.grid-produse .produs .info-prod{
    display:flex;
    background-color: var(--cl-marcare);
}
.grid-produse .produs .info-prod p{
    width:30%;
    text-align:center;
    font-weight:bold;
}

.grid-produse .produs p.categorie{

    text-align:center;
    font-weight:bold;
}

.info-produse{
    background-color: var(--culoare-gri);
    padding:0.2rem;
}

.produs{
    position: relative;
}
.selecteaza-cos{
    display: inline-block;
    background-color: var(--culoare-mov);
    position:absolute;
    bottom:0.5rem;
    right:0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding:0.3rem;
    border:1px solid transparent;
}

.selecteaza-cos:hover{
    background-color: var(--culoare-gri); 
    
    border:1px solid  var(--culoare-text);
}