<footer>
    <p id="scolar">Acesta este un proiect școlar!</p>
    <address>
        <a href="mailto:compconn@fake.mail">Trimite un mail</a>
        <a href="tel:0799999999">Telefon</a>
        <a href="https://wa.link/u5l6os" target="_blank">Whatsapp</a>
        <a href="https://goo.gl/maps/vVouBGVBBJB1FH1TA" target="_blank">Adresa</a>
    </address>
    
    <small>Copyright &copy; <time datetime="2023-03-01">01 mar 2023</time></small>
    <br>
    <a href="#" class="link-top" title="Sus!">&#5123;</a>
</footer>