<header class="c1" id="h1" >
    <h1>Cofetaria <span>Dulcelind</span></h1>
   
</header>
<nav>
        
    <label id="hamburger" for="ch-menu">
        <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li><div id="acasa">Acasa</div><div id="acasa-mediu"><span class="fas fa-regular fa-house"></span></div>
            <ul>
                <li><a href="#welcome">Bine ati venit</a></li>
                <li><a href="#promotii">Promotii</a></li>
                <li><a href="#anunturi">Anunturi</a></li>
                <li><a href="#produse">Oferta</a></li>
                <li><a href="#orar">Orar</a></li>
                <li><a href="#index-intrebari">Întrebări</a></li>
                <li><a href="#retete">Rețete</a></li>
            </ul>
        
        
        </li>
        <li><a href="#">Inregistrare</a></li>
        <li><div>Despre</div>
            <ul>                        
                <li><a href="despre.html#prezentare">Prezentare</a></li>
                <li><a href="despre.html#istoric">Istoric</a></li>
                <li><a href="despre.html#motivatie">Motivatie</a></li>
                <li><a href="despre.html#galerie">Galerie</a></li>
            </ul>
        </li>
        <li><div>Produse</div>
            <ul>
                <li><a href="http://www.google.com">Toate</a></li>
                <li><a href="#">Prajituri</a></li>
                <li><a href="#">Torturi</a></li>
                <li><a href="#">Patiserie</a></li>
            </ul>
        
        </li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>